@media screen and (max-width:500px) {
    .menubar {
        flex-direction: column;
        align-items: center;
    }

    .logo-title {
        margin-bottom: 10px;
    }

    .menu-item>ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-item li {
        margin-bottom: 10px;
    }

    .banner-section {
        flex-direction: column-reverse;
        padding: 0px 20px;
    }

    .banner-section-title {
        text-align: center;
        width: 100%;
        font-size: 28px;
        margin-top: -60px;
    }

    .banner-section-left {
        text-align: center;
        width: 100%;
    }

    .banner-section-right {
        width: 257px;
        height: 257px;
    }

    .banner-section-right img {
        width: 95%;
    }

    .brand-partner{
        /* justify-content: center; */
        flex-wrap: wrap;
        width: 95%;
        margin: 70px auto;
        /* padding: 20px; */
    }

    .brand-partner img{
        width: 50px;
        margin:0px 15px;
    }


}

@media screen and (min-width:500px) and (max-width:990px) {
    .logo-title {
        margin: 0px 25px;
    }

    .banner-section{
        padding: 0px 40px;
    }

    .banner-section-right img {
        width: 95%;
    }

    .banner-section-title {
        /* text-align: center; */
        width: 100%;
        font-size: 28px;
        /* margin-top: -60px; */
    }
}