* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.fullpage {
    background: white;
    height: auto;
    max-width: 1440px;
    margin: 0px auto;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.logo-title {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.menu-item>ul {
    display: flex;
}

.menu-item li {
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    margin-right: 30px;
}

/* banner section */

.banner-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.banner-section-left {
    width: 50%;
}

.banner-section-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-section-desc {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.btn-primary {
    background: #E02C6D;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    padding: 10px 25px;
    text-align: center;
}

.custom-arrow {
    margin-left: 8px;
}

.banner-section-right {
    /* width: 50%; */
    background-image: url('/images/Circle/design.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-section-right img {
    margin-top: 50px;
}


/* brand partner section */

.brand-partner {
    display: flex;
    justify-content: space-around;
    border: 1px dotted lightgray;
    padding: 25px 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* popular section */

.popular-section {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    row-gap: 30px;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.image-box {
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 15px 18px 15px;

}

.image-box>h3 {
    color: #18191F;
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
}

.image-box>h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.image-box p {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

.reviews-icon {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.fa-star,
.fa-star-half-stroke {
    color: orange;
}

.rating {
    font-size: 22px;
    font-weight: 600px;
    color: #5E6366;
    margin-left: 10px;

}


.featured-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.featured-content h2 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;

}

.featured-content p {
    color: #6C6C6C;
    width: 580px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;

}

footer{
    background: #0A0826;
    height: 250px;
    color: #FFF;
    padding: 50px 0;
}
.footer-section{
    text-align: center;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    
}
.social-icon i{
    background-color: lightslategray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
}